{% extends 'app/base.html' %}
{% load static %}
{% block title %}Buy Now{% endblock title %}
{% block main-content %}
<div class="container my-5">
 <div class="row">
 <h3>Password reset successfully </h3>
 <div><iframe src="https://giphy.com/embed/ibolLe3mOqHE3PQTtk" width="480" height="480" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="https://giphy.com/gifs/clean-cleanmama-naturalhomekeeping-ibolLe3mOqHE3PQTtk">via GIPHY</a></p></div>
  <div class="col-sm-2 border-end">
   <ul class="list-unstyled">
    <li class="d-grid"><a href="{% url 'login' %}" class="btn btn-primary">login now</a></li>
   </ul>
  </div>
 </div>
</div>
{% endblock main-content %}